body {
    font-family: 'Lora', serif;
    padding-top: 56px;
}
/******************************
/* Home page
********************************/

.carousel-item {
    height: 65vh;
    min-height: 700px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

nav ul li a.nav-link:hover, nav ul li a.nav-link:active {
    color: #E08D34;
    border-bottom: 2px solid #E08D34;
}
.navbar, footer {
    background-color: #000;
}

#footer-wrapper {
    background: url('/images/bg1.jpg') no-repeat;
}

.carousel-caption {
    margin-bottom: 360px;
}

.carousel-caption h2 {
    background-color:rgba(0,0,0,.5);
}

.card .card-footer{
    background-color:rgba(85,114,242,.2);
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.title-home {
    color: #22234A;
}

.widget .tagcloud a {
    border: 1px solid #E08D34;
    border-radius: 0;
    margin-bottom: 10px;
}

.widget .menu {
    border-bottom: 1px solid #E08D34;
}

.widget .menu a:hover {
    color : #FFF;
    text-decoration: none;
}

.media-heading a {
    color:  #E08D34;
}

footer a {
    color: #FFF;
}

.nav-link, footer a:hover, .widget h4 {
    color:  #CB442E;
}

.load-page {
    bottom: 30%;
    left: 45%;
}

#scroll {
    border-bottom: 1px solid #CB442E;
}

nav {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

/******************************
/* Trick detail
********************************/

#img-trick-detail img { /* image du header du détail du trick*/
    height: 350px;
}

.card-title {
    margin-top: 200px;
}

.separator{
    border-bottom: 2px solid  #CB442E;
}

.card-img-overlay h3 {
    background-color:rgba(0,0,0, .8);
}

#comments .pseudo {
    color: #CB442E;
}

#leave-comment input.form-control, textarea.form-control, #registration input.form-control {
    border-radius: 0;
}

#leave-comment input.form-control {
    width: 50%;
}

#leave-comment textarea.form-control, #add-trick #add_trick_content {
    height: 200px !important;
}

#leave-comment button {
    background-color: #E08D34;
    border: 1px solid #E08D34;
}

#leave-comment label {
    display: none;
}

.media-body p {
    padding: 5px;
}

.card-img-overlay {
    padding: 0px !important;
}

.card-img-overlay h3 {
    padding: 5px;
}

.card-img-overlay .edit-delete {
    margin-top: 70px;
    background-color: #E08D34;
}

.card-img-overlay .edit-delete a{
    color: #000;
    font-size: 1.3em;
}

.card-img-overlay .edit-delete a:hover{
    color: #FFF;
}


/******************************
/* Registration, connection
********************************/

#registration .form-error-icon {
    display: none;
}

#registration button, #connection button, #add-trick button.btn-add-trick {
    background-color: #E08D34;
    border: 1px solid #E08D34;
    color: #000;
}

#connection .forgot-password{
    color: #CB442E;
}

#connection a.forgot-password:hover{
    text-decoration: none;
    color: #22234A;
}

.custom-file-label, input#registration_avatar.custom-file-input {
    border-radius: 0 !important;
}

.error-authentification, .forgot-pwd {
    color:  #E08D34;
}

.custom-file-label::after{
    content: "Parcourir" !important;
    border-radius: 0;
    color:  #E08D34 !important;
}

#load-medias {
    display: none;
}

/******************************
/* Add, update and delete trick
********************************/

.btn-delete-img {
    background-color:#E9ECEF !important;
    color:  #E08D34 !important;
    border: 1px solid #ced4da !important;
}

#add-trick .d-flex-img {
    display: flex;
    flex-wrap: nowrap;
}

#add-trick .delete-img {
    width: 10% !important;
}

#add-trick .delete-img  button{
    margin-top: 32px;
}

/* #add-trick legend{
    display: none;
} */

/*****************************************************
/*Small devices (landscape phones, less than 768px)*/
/*****************************************************/

@media (max-width: 767.98px) {
    nav ul li a.nav-link:hover, nav ul li a.nav-link:active{
        border-bottom: 0;
    }

    .carousel-caption h2 {
        font-size: 1.3em;
    }

    #scrollBotm {
        font-size: 0.8em;
    }

    nav {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .navbar-brand {
        padding-bottom: 1rem !important;
    }

    .card-img-top img {
        width: 100%;
    }

    .info-trick p {
        text-align: left !important;
    }

    #comments .media-body p {
        padding-left: 0;
    }

    .card-img-overlay h3 {
        font-size: 1.2em;
    }

    #show-trick{
        display: none;
    }

    #load-medias {
        display: inline-block;
        text-align: center;
    }

    .img-header {
        height: 200px !important;
    }

}

/*****************************************************
/* Medium devices (tablets, 768px and up)*/
/*****************************************************/

@media (min-width: 768px) and (max-width: 991.98px) {
    nav {
        padding-top: 1.2rem !important;
        padding-bottom: 1.2rem !important;
        margin-bottom: 0;
    }
    .navbar-brand {
        padding-bottom: 1rem !important;
    }

    .card-img-top img {
        width: 100%;
    }

    #show-trick{
        display: none;
    }

    #load-medias {
        display: inline-block;
        text-align: center;
    }
}
