body {
    font-family: 'Lora', serif;
    padding-top: 56px;
}
/******************************
/* Home page
********************************/
.carousel-item {
    height: 65vh;
    min-height: 700px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

nav ul li a.nav-link:hover, nav ul li a.nav-link:active {
    color: #E08D34;
    border-bottom: 2px solid #E08D34;
}
.navbar, footer {
    background-color: #000;
}

#footer-wrapper {
    background: url('/images/bg1.jpg') no-repeat;
}

.carousel-caption {
    margin-bottom: 360px;
}

.carousel-caption h2 {
    background-color:rgba(0,0,0,.5);
}

.card .card-footer{
    background-color:rgba(85,114,242,.2);
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.title-home {
    color: #22234A;
}

.widget .tagcloud a {
    border: 1px solid #E08D34;
    border-radius: 0;
    margin-bottom: 10px;
}

.widget .menu {
    border-bottom: 1px solid #E08D34;
}

.widget .menu a:hover {
    color : #FFF;
    text-decoration: none;
}

.media-heading a {
    color:  #E08D34;
}

footer a {
    color: #FFF;
}

.nav-link, footer a:hover, .widget h4 {
    color:  #CB442E;
}

.load-page {
    bottom: 30%;
    left: 45%;
}

#scroll {
    border-bottom: 1px solid #CB442E;
}

nav {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

/******************************
/* Trick detail
********************************/
#img-trick-detail img { /* image du header du détail du trick*/
    height: 350px;
}

.card-title {
    margin-top: 200px;
}

.separator{
    /* background-color: #E9ECEF; */
    border-bottom: 2px solid  #CB442E;
}

.card-img-overlay h4 {
    background-color:rgba(0,0,0, 1);
}

#comments .pseudo {
    color: #CB442E;
}

@media (max-width: 767.98px) {
    nav ul li a.nav-link:hover, nav ul li a.nav-link:active{
        border-bottom: 0;
    }

    .carousel-caption h2 {
        font-size: 1.3em;
    }

    #scrollBotm {
        font-size: 0.8em;
    }

    nav {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .navbar-brand {
        padding-bottom: 1rem !important;
    }

    .card-img-top img {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    nav {
        padding-top: 1.2rem !important;
        padding-bottom: 1.2rem !important;
        margin-bottom: 0;
    }
    .navbar-brand {
        padding-bottom: 1rem !important;
    }

    .card-img-top img {
        width: 100%;
    }
}
