<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr">
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1; maximum-scale=1.0;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <title><?= $title; ?></title>
    <style type="text/css">
    </style>
	</head>
    <body>
        <table width="100%" border="0" cellpadding="20" cellspacing="0" bgcolor="#F2F2F2">
            <tr>
                <h1 style="color:#CB442E; text-align:center">{{ firstName | capitalize ~ ' ' ~ lastName | capitalize}}</h1>
            </tr>
            <tr>
                <div>
                    <h2>Bienvenue sur mon site snowboard, </h2>
                    <p style="text-align:justify">
                        Je souhaite prendre quelques instants pour vous accueillir en tant que nouveau souscripteur et vous remercier d’être ici !
                        Au nom de tous les membres, je vous souhaite la bienvenue et je tiens à ce que vous sachiez que nous sommes
                        vraiment ravis que vous ayez décidé de nous rejoindre !
                    </p>
                </div>
            </tr>
            <tr>
                <tr>
                <div>
                    <p>
                        Retrouvons nous sur le
                        <strong>
                            <a href="http://localhost:8888/openclassrooms/projet6/snowboard/public/index.php" target="_blank" style="color:#E08D34; text-decoration:none">blog</a>
                        </strong>
                    </p>
                    <p>
                        Pour vous connecter
                        <strong>
                            <a href="http://localhost:8888/openclassrooms/projet6/snowboard/templates/security/login.html.twig" target="_blank" style="color:#E08D34; text-decoration:none">Cliquez ici</a>
                        </strong>
                    </p>
                </div>
                </tr>
            </tr>
        </table>
    </body>
    <footer>
    <img src="http://localhost:8888/openclassrooms/projet6/snowboard/public/images/bg11.jpg" alt="Neige">
    </footer>
</html>