
<div id="bar-{{ form.vars.name }}">
    <div class="row align-items-center">
        <div class="col-10 w-100">
            {{ form_row(form) }}
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-danger btn-remove rounded-0" data-rel="#bar-{{ form.vars.name }}"><i class="far fa-trash-alt"></i></button>
        </div>
    </div>
</div>
